body {
    background-color: rgb(53, 53, 53);

}
header{
    font-family: 'Tangerine', cursive;
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
}
h3 {
    font-family: 'Unica One', cursive;
    font-size: 26px;
    text-align: center;
}
.Many Watches {
    display: block;
    width: 540px;
    
}
.watch_container {
    border: 2px solid #FDEFA6;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
