body{
    background-color: #a9a9ff    
}

#right-side{
    float: right;
    width: 50%;
}

#left-side{
    float: left;
    width: 50%;
}

#main{
    width: 70%;
    margin: auto;
    border-radius: 20px;
    height: 1000px;
    background-color: rgb(240, 235, 250);
    border: solid 2px rgb(115, 103, 218);
}

.news-head{
    font-weight: bold;
    margin: 10px;
    margin-bottom: 0;
    /* text-decoration: underline; */
    width: 90%;
}

span{
    color: blue;
}

#news {
    color: #de3397;
}

.news-body{
    background-color:white;
    margin: 10px;
    margin-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-color: #de3397;
    border-right-color: solid 1px #d2d4fa;
    border-left-color: solid 1px #d2d4fa;
    border-bottom-color: solid 1px #d2d4fa;    
    border-width: 2px;
    border-style: solid;
}

#downloads{
    margin: 50px;
}

#online-players {
    color: #de3397;
    margin-top: 25%;
}

#video{
    margin-left: 20px;
}

#FTW {
    text-align: center;
    color: black;
    display: block;
    font-size: 16px;
}

#summary {
    background-color:white;    
    margin: 10px;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}